.cardSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 24px 0;
  background: #f7f7f7;
}

.cardTitle {
  text-align: center;
  margin-bottom: 32px;
}

.cardWrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 12px;
}