.section {
  width: 100%;
}

.slider {
  background: #333;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sliderContent {
  padding: 64px 0 64px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.image {
  /* background: url(../../assets/logo.png) no-repeat; */
  width: 889px;
  height: 300px;
}
.image svg g {
  transition: all .25s ease-in-out;
} 
.image:hover svg g {
  fill: pink;
}

// Buttons
.buttons {
  display: flex;
  justify-content: space-between;
  width: 300px;
}

.btnWhite {
  border: 1px solid white;
  color: white;
}